
.slider .track {
    -fx-pref-height: 1.2px;
    -fx-background-color: #666666;
}

.slider .thumb {
    -fx-background-color: #666666;
}

.toggle-button {
    -fx-background-color: white;
}
.toggle-button:selected {
    -fx-background-color: rgb(162, 162, 162)
}